.menu {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 200px;
  background-color: var(--color-06);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  animation: slideDown 0.3s ease;
  overflow: hidden;
  transition: 0.3s ease;
}

.menu:not(.menu_archived) {
  height: 154px;
}

.menu_archived {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.menu__wrapper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu__item {
  display: flex;
  align-items: center;
  width: 184px;
  height: 38px;
  padding: 0 0 0 12px;
  color: var(--color-01);
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu__item:hover {
  color: var(--color-accent);
}

@media (max-width: 768px) {
  .menu {
    width: 160px;
    top: 10px;
    right: 0;
  }

  .menu_archived {
    top: 180px;
    width: 160px;
    height: 54px;
  }

  .menu__item {
    width: 144px;
  }
}
